*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  height: 1vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  width: 1140px;
  min-height: 534px;
  margin: 133px 30px;
  justify-content: center;
}

.result {
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__details {
  height: 100%;
  width: 100%;
}

.content__list-container {
  height: 399px;
  overflow-y: scroll;
}

.title {
  margin-bottom: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: inherit;
}